{% extends 'base.html' %}
{% load static %}

  <!-- End Header -->
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Course Details</h2>
        <p>This is a 16 hours Instructor-led Blockchain training Course for Beginners in Seattle to be taught over 4 weekends. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{% static 'img/course-details.jpg' %}" class="img-fluid" alt="">
            <h3>Course Description</h3>
              <div class="filterLoc"></div>
{#              <span  id="latitude"></span> <span> / </span>#}
{#              <span  id="longitude"></span>#}
            <p>
              Qui et explicabo voluptatem et ab qui vero et voluptas. Sint voluptates temporibus quam autem. Atque
              nostrum voluptatum laudantium a doloremque enim et ut dicta. Nostrum ducimus est iure minima totam
              doloribus nisi ullam deserunt. Corporis aut officiis sit nihil est. Labore aut sapiente aperiam.
              Qui voluptas qui vero ipsum ea voluptatem. Omnis et est. Voluptatem officia voluptatem adipisci et iusto
              provident doloremque consequatur. Quia et porro est. Et qui corrupti laudantium ipsa.
              Eum quasi saepe aperiam qui delectus quaerat in. Vitae mollitia ipsa quam. Ipsa aut qui numquam eum iste
              est dolorum. Rem voluptas ut sit ut.
            </p>
          </div>
          <div class="col-lg-4">
            <div class="course-title d-flex justify-content-between align-items-center">
              <h4>Weekends Blockchain Training Course for Beginners New York City</h4>
            </div>
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">Walter White</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>$165</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>30</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Schedule</h5>
              <p>11.00 AM - 1.00 PM EDT</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Date</h5>
              <p>Sat, October 2, 2021</p>
            </div>

            <div class="course-location">
              <h5 >Location</h5>
                <span class="location_span"></span>

                <div id='map'></div>
            </div>

            <div class="course-policy">
              <h5>Refund policy</h5>
              <p>Contact the organizer to request a refund.Eventbrite's fee is nonrefundable.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->


    <!-- acordian -->
    <section id="cource-acordian">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item" id="location_base_data">
              </div>
              <div class="accordion-item">

                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                   Weekends Blockchain Training Course Schedule in &nbsp;<span class="filterLoc"></span>&nbsp; City
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                    this
                    with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                    can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                  type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Features and Benefits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                  type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Who can take this course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                  type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Prerequisite</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                  type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-iusto"
                  type="button" role="tab" aria-controls="v-pills-iusto" aria-selected="false">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                      a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa
                      odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni
                      nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/course-details-tab-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                      a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt
                      est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque
                      beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/course-details-tab-2.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus
                      non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque
                      necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum
                      odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/course-details-tab-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis
                      delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam
                      fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores
                      sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/course-details-tab-4.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-iusto" role="tabpanel" aria-labelledby="v-pills-iusto-tab">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                      quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                      molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/course-details-tab-5.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Cource Details -->


{#    <section id="courses" class="courses">#}
{#      <div class="container aos-init aos-animate" data-aos="fade-up">#}
{##}
{#        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">#}
{##}
{#          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">#}
{#            <div class="course-item">#}
{#              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">#}
{#              <div class="course-content">#}
{#                <div class="d-flex justify-content-between align-items-center mb-3">#}
{#                  <h4>Web Development</h4>#}
{#                  <p class="price">$169</p>#}
{#                </div>#}
{##}
{#                <h3><a href="course-details.html">Website Design</a></h3>#}
{#                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the#}
{#                  industry's standard dummy text ever since the 1500s.</p>#}
{#                <div class="trainer d-flex justify-content-between align-items-center">#}
{#                  <div class="trainer-profile d-flex align-items-center">#}
{#                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">#}
{#                    <span>Antonio</span>#}
{#                  </div>#}
{#                  <div class="trainer-rank d-flex align-items-center">#}
{#                    <i class="bx bx-user"></i>&nbsp;50#}
{#                    &nbsp;&nbsp;#}
{#                    <i class="bx bx-heart"></i>&nbsp;65#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div> <!-- End Course Item-->#}
{##}
{#          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">#}
{#            <div class="course-item">#}
{#              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">#}
{#              <div class="course-content">#}
{#                <div class="d-flex justify-content-between align-items-center mb-3">#}
{#                  <h4>Marketing</h4>#}
{#                  <p class="price">$250</p>#}
{#                </div>#}
{##}
{#                <h3><a href="course-details.html">Search Engine Optimization</a></h3>#}
{#                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the#}
{#                  industry's standard dummy text ever since the 1500s.</p>#}
{#                <div class="trainer d-flex justify-content-between align-items-center">#}
{#                  <div class="trainer-profile d-flex align-items-center">#}
{#                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">#}
{#                    <span>Lana</span>#}
{#                  </div>#}
{#                  <div class="trainer-rank d-flex align-items-center">#}
{#                    <i class="bx bx-user"></i>&nbsp;35#}
{#                    &nbsp;&nbsp;#}
{#                    <i class="bx bx-heart"></i>&nbsp;42#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div> <!-- End Course Item-->#}
{##}
{#          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">#}
{#            <div class="course-item">#}
{#              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">#}
{#              <div class="course-content">#}
{#                <div class="d-flex justify-content-between align-items-center mb-3">#}
{#                  <h4>Content</h4>#}
{#                  <p class="price">$180</p>#}
{#                </div>#}
{##}
{#                <h3><a href="course-details.html">Copywriting</a></h3>#}
{#                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the#}
{#                  industry's standard dummy text ever since the 1500s.</p>#}
{#                <div class="trainer d-flex justify-content-between align-items-center">#}
{#                  <div class="trainer-profile d-flex align-items-center">#}
{#                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">#}
{#                    <span>Brandon</span>#}
{#                  </div>#}
{#                  <div class="trainer-rank d-flex align-items-center">#}
{#                    <i class="bx bx-user"></i>&nbsp;20#}
{#                    &nbsp;&nbsp;#}
{#                    <i class="bx bx-heart"></i>&nbsp;85#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div> <!-- End Course Item-->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section>#}

    <section id="testimonials" class="testimonials">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Student Reviews</p>
        </div>

        <div class="testimonials-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper" id="swiper-wrapper-bff6a96e0b4aba9f" aria-live="off" style="transform: translate3d(-2840px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="3" role="group" aria-label="1 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "This Blockchain training was of great quality and great value for money. " - Tom, Finance Professional, New York City ★★★★★
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="4" role="group" aria-label="2 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "I got so much knowledge in Blockchain out of this training. I am grateful." - Sonia, Student, New York City ★★★★★
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide" data-swiper-slide-index="0" role="group" aria-label="3 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "The training did meet and exceed my expectations. There were training materials and hands-on exercises"- Cindy, IT Manager, New York City★★★★★
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="4 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    " This course was an eye opener for me. I learned a lot about blockchain technology, bitcoin, smart contracts and more. I learned from the hands-on exercises, lively discussions amongst the students. The instructor was pleasant with excellent follow through. It was effortless learning at its best."- Cecil, Tech Professional, New York City. ★★★★★
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="5 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="3" role="group" aria-label="6 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="4" role="group" aria-label="7 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="8 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="9 / 9" style="width: 548px; margin-right: 20px;">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div></div>
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

      </div>
    </section>


    <!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
{% endblock content %}